language: node_js
node_js:
- 0.12
before_install: bin/travis-before-install.sh
script: bin/travis-script.sh
after_success: bin/travis-after-success.sh
sudo: false
cache:
  directories:
    - node_modules
